<!DOCTYPE html>
<html>
  <head>
    <title>Dynamic Query</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Data From Query</h1>
    <p><%= data %></p>
  </body>
</html>
